<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">
    <test name="Basic Test">
        <classes>
            <class name="basic.LoginTest"/>
            <class name="basic.LogoutTest"/>
            <class name="basic.homePage"/>
        </classes>
    </test>
</suite>